<div class="m-2 p-2">
    <p-panel header="Vendas de Hoje" [draggable]="false">
        <p-table [value]="sales" [paginator]="false" styleClass="p-datatable-striped"
            [loading]="loadingProvider.loading.getValue()" [totalRecords]="sales.length">
            <ng-template pTemplate="header">
                <tr>
                    <th class="bg-primary">Vendedor</th>
                    <th class="bg-primary">Total</th>
                    <th class="bg-primary">Método PGMT.</th>
                    <th class="bg-primary">Data</th>
                    <th class="bg-primary">Detalhes</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
                <tr>
                    <td class="border-none">{{ sale.user.name }}</td>
                    <td class="border-none">{{ sale.total.toFixed(2) | currency }}</td>
                    <td class="border-none">{{ translatePaymentType(sale.paymentType) }}</td>
                    <td class="border-none">{{ sale.createdAt | date: 'dd/MM/yyyy'}}</td>
                    <td class="border-none">
                        <button pButton class="p-button-text" icon="pi pi-info-circle"
                            (click)="getSaleDetails(sale.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-divider></p-divider>
        <div class="flex flex-column justify-content-center align-items-center ">
            <h3>Total das Vendas</h3>
            <p>{{ total.toFixed(2) | currency }}</p>
        </div>
    </p-panel>
</div>
<p-dialog header="Detalhes da Venda" [(visible)]="dialog" [closable]="true" [style]="{width: '50vw'}"
    styleClass="max-w-700" [draggable]="false" [resizable]="false" [modal]="true">
    <p-panel header="Detalhes do Produto" *ngFor="let saleProduct of saleProducts" styleClass="m-2">
        <ng-template pTemplate="body">
            <div class="m-1">
                <h4>Nome</h4>
                <p>{{ saleProduct.product.name }}</p>
            </div>
            <p-divider></p-divider>
            <div class="m-1">
                <h4>Preço na Venda</h4>
                <p>{{ saleProduct.priceAtSale.toFixed(2) | currency }}</p>
            </div>
            <p-divider></p-divider>
            <div class="m-1">
                <h4>Quantidade da Venda</h4>
                <p>{{ saleProduct.amount }}</p>
            </div>
        </ng-template>
    </p-panel>
</p-dialog>